// PALETTE
$black: #262626;
$accent: #4859ff;
$accentHover: #0078ff;
$darkText: #4d4d53;
$darkFill: #1d1f27;
$mediumText: #959db8;
$lightText: #82829a;
$lightestText: #abafc3;
$placeholderLight: #cfcfd8;
$lightestFill: #f8f8fa;
$lightFill: #edeef3;
$lightBorder: #cfcfd8;
$greyFill: #e1e2e8;
$lightShadow: rgba(33, 56, 131, 0.25);
$lightestShadow: rgba(33, 56, 131, 0.08);
$alert: #ff3f67;
$successFill: #84ffe1;
$successText: #007d6e;
$legacyPrimary: #337ab7;
$legacyLightFill: #f5f8fb;

$graphite: #313340;
$red: #ff5e6a;
$yellow: #f8e71c;
$yellowFill: #ffc404;
$purpleRain: #a65ade;
$olive: #89e6df;

// DIMENSIONS
$horizontalPadding: 30px;

// BREAKING POINTS
$maxWidth: 1280px;
$huge: 1180px;
$xlarge: 1024px;
$large: 800px;
$xmedium: 700px;
$medium: 640px;
$small: 480px;
$tiny: 320px;