body {
  margin: 0;
  font-family: "Inter", Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: white;
  color: #262626;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

textarea,
input {
  font-family: "Inter", Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

div,
header,
aside,
section,
footer,
article,
details,
main,
nav,
summary {
  display: block;
  position: relative;
  box-sizing: border-box;
}

p,
a,
span,
i {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: #4859ff;
  text-decoration: none;
}

textarea,
select,
input,
input:focus,
button {
  outline: none !important;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 5px 0;
  /* text-transform: capitalize; */
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 5px 0;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  margin: 5px 0;
}

header.page-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

/* // ******************************
// ******************************
// BUTTONS
// ******************************
// ****************************** */

.submit {
  cursor: pointer;
  display: block;
  color: white;
  background: #4859ff;
  border-radius: 3px;
  padding: 12px 15px;
  font-size: 12px;
  font-weight: 700;
  min-width: 160px;
  text-align: center;
}

.submit:hover {
  background: #0078ff;
}

.button,
button {
  border: none;
  display: inline-block;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 12px 15px;
  background: #4859ff;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
button:hover {
  text-decoration: none;
  background: #0078ff;
}

.button.disabled,
button.disabled,
.button:disabled,
button:disabled {
  background: #e1e2e8;
  color: #82829a;
  cursor: auto;
}

.button.disabled:hover,
button.disabled:hover,
.button:disabled:hover,
button:disabled:hover {
  background: #e1e2e8;
}

.text-button {
  display: inline-block;
  color: #cfcfd8;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 10px 20px;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.text-button:hover {
  text-decoration: none;
  background: #f8f8fa;
}

/* // ******************************
// ******************************
// FORMS
// ******************************
// ****************************** */

textarea {
  border: none;
  background: transparent;
  color: #4d4d53;
  padding: 0;
  width: 100%;
  font-size: 16px;
  resize: none;
}

textarea::placeholder {
  color: #cfcfd8;
  font-size: 14px;
}

/* // ******************************
// ******************************
// COMMON UI STUFF
// ******************************
// ****************************** */

.text-badge {
  display: inline-block;
  padding: 3px 8px;
  font-size: 12px;
  background: #edeef3;
  color: #82829a;
  border-radius: 5px;
  margin: 10px 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}